/* FOOTER */
.footer-container {
    position: relative;
}

.newsletter {
    background-color: #e7e0d8;
    height: 200px;
    display: flex;
    align-items: center ;
}

.newstitle p {
    color: #707070;
}

.newstitle h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
}

.signup input {
    border: 2px solid #c5c3c3;
    background-color: transparent;
    height: 40px;
    width: 270px;
}

input[type="email"] {
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
}

input:focus {
    outline: none; /*remove highlight on border */
  }
  
  

.btn-danger {
    border-radius: 50px;
    width: 135px;
    height: 43px;
    background-color: #c19280;
    border: none;
    font-weight: 500;
}

.btn-danger:hover {
    background-color: #aa7964;    
}

.main-footer {
    background-color: #f8f4ec;
    height: 300px;
    bottom: 0;
}

.about-services {
    font-size: 13px;
    line-height: 25px;
    color: #707070;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-socials {
    border-radius: 50px;
    border: 2px solid rgb(200, 199, 199);
    padding: .6rem .6rem; 
    width: 40px;
    height: 40px;
    text-align: center;
    color: gray;
    font-size:18px;
}

.footer-socials:hover {
    color: white;
    transition: all 0.3s ease-in-out;
}

.footer-fb:hover {
    background-color: rgba(17, 17, 182, 0.874);
    border: 2px solid rgba(17, 17, 182, 0.874);
}

.footer-email:hover {
    background-color: orange;
    border: 2px solid orange;
}

.footer-insta:hover {
    background-color: rgb(120, 46, 46);
    border: 2px solid rgb(120, 46, 46);
}

.footer-column-2 {
    display: flex;
    flex-direction: column;
}


.pj1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #454545;
}

.pj2 {
    display: flex;
    flex-direction: row;
    line-height: 10px;
}

.footer-title {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    color: #454545;
}

.footer-img {
    height: 80px;
    width: 60px;
}

.footer-img:hover, .footer-title:hover {
    opacity: 0.8;
}

.text-muted {
    font-size: 11px;
}

ul {
    list-style: none;
    padding-left: 0;
    line-height: 25px;
}

a {
    color: gray;
    font-size: 13px;
    line-height: 20px;
}

a:hover {
    color: black;
}

.contact {
    color: rgb(43, 42, 42) !important;
    font-weight: bold;
}

.contact:hover {
    opacity: 0.8;
}

.underlign {
    width: 250px;
    height: 1px;
    background-color: #acabab;
}

.copyrights-wrapper {
    background-color: #c19280 !important;
    color: #f9f9f9;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
    font-size: 14px;
    height: 60px;
    bottom: 0;
    width: 100%;   
}
