.containter-fluid {
    display: flex;
}

h6 {
    text-transform: uppercase;
}

#priceOutput {
    padding-top: 30px;
    font-size: 14px;
}

.price {
    display: flex;
    flex-direction: row;
}

.border {
    border-bottom: 1px solid gray;
    width: 270px;
}

/* Remove default appearance */
input[type=range] {
    -webkit-appearance: none;
    width: 105%;
    height: 10px;
    margin: 10px 0;
  }
  
  /* Set track color */
  input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 2px;
    background-color: #c19280 !important;
  }
  
  /* Set thumb appearance */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 16px;
    background: #c19280;
    cursor: pointer;
    margin-top: -7px;
  }
  

.categ p{
    color: #5c5c5c;
    font-size: 14px;
    cursor: pointer;
}

.prod img {
    height: 90px;
    width: 80px;
    padding-right: 15px;
    cursor: pointer;
}

.prod {
    display: flex;
}

.fa-star {
    color: rgb(246, 187, 26);
    font-size: 12px;
}

.prod p {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    margin-bottom: 0;
    cursor: pointer;
}

.prod .price {
    color: #c19280;
}

.head {
    display: flex;
}

.home-shop a {
    color:#5c5c5c;
    font-weight: 600;
    font-size: 13px;
}

.home-shop a:hover {
    color: black;
}

a .shopp {
    font-weight: bolder !important;
    color: black !important;
}

.img-container {
    overflow: hidden;
    box-shadow: 1px 1px 12px #bcbcbc;
}

.plant-item img {
    width: 270px;
    height: 350px;
    transition: transform 1s ease-in-out, filter 0.5s ease-in-out;
}

.plant-item img:hover {
    transform: scale(1.25);
}

.item-next {
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;
    color: black !important;
    padding-top: 10px;
    margin-bottom: 0px !important;    
}

.section-center {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-gap: 20px;
    text-align: center !important;
}

.item-info p {
    color: #c19280;
    font-size: 14px;
    font-weight: bolder;
    margin-bottom: -8px;
    text-align: center !important;
}

