.containter-fluid {
    display: flex;
}

h6 {
    text-transform: uppercase;
}

#priceOutput {
    padding-top: 30px;
    font-size: 14px;
}

.price {
    display: flex;
    flex-direction: row;
}

.border {
    border-bottom: 1px solid gray;
    width: 270px;
}

/* Remove default appearance */
input[type=range] {
    -webkit-appearance: none;
    width: 105%;
    height: 10px;
    margin: 10px 0;
  }
  
  /* Set track color */
  input[type=range]::-webkit-slider-runnable-track {
    width: 200px;
    height: 2px;
    background-color: #c19280 !important;
  }
  
  /* Set thumb appearance */
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 16px;
    background: #c19280;
    cursor: pointer;
    margin-top: -7px;
  }
  

.categ p{
    color: #5c5c5c;
    font-size: 14px;
    cursor: pointer;
}

.prod img {
    height: 80px;
    width: 60px;
}

.prod {
    display: flex;
}

.fa-star {
    color: rgb(246, 187, 26);
}