h6 {
    color: #c19280;
    text-transform: uppercase;
    font-weight: 600;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

.img-container {
    
}

main img {
    height: auto;
    width: 550px;
}