* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(203, 155, 142) !important;
}



@media screen and (max-width: 900px) {
    .head, .mid {
        display: none;
    }
    .social-icons {
        margin: auto;
        padding: 0;
        width: auto;
    }

}

@media screen and (min-width: 580px) {
    .head, .mid {
        display: none;
    }
    .social-icons {
        margin: auto;
    }

}