* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(208, 218, 222);
}


/*HEADER CSS*/
.header {
    background-color: rgb(203, 155, 142) !important;
}

.social-icons {
    width: auto;
}

.col a {
    text-decoration: none;
    color: white;
}

.fas, .fab {
    cursor: pointer;
}


/* NAVBAR CSS */
.logo {
    display:block;
    margin: auto;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;}

p.logo {
    margin-top: -17px;
}

img {
    height: 45px;
}

.transparent-bg {
    background-color: transparent !important;
}

nav a {
    color: rgb(28, 28, 28) !important;
    font-family: 'Courier New';
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.nav-item {
    padding-top: 40px;
    text-transform: uppercase;
    padding-left: 6px;
}

.fa-chevron-down {
    font-size: 8px;
    opacity: 0.6;
    margin-left: -5px;
}

.login {
    display: inline-flex;
}


/* NAVBAR DROPDOWN HOVER */
.navbar li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    text-transform: capitalize;
    width: 800px;
}


.navbar li:hover ul {
    display: flex;
    flex-direction: column;
}

.navbar li ul li {
  display: block;
}


.navbar li ul li a {
  padding: 10px;
  color: gray !important;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 200;
}

.navbar li ul li a:hover {
  background-color: #555;
}

/* RESPONSIVENESS */
@media screen and (max-width: 900px) and (min-width: 300px) {
    .head, .mid {
        display: none;
    }
    .social-icons {
        margin: auto;
        padding: auto;
        width: auto;
        display: flex;
    }
}
