* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(208, 218, 222);
}


/*HEADER CSS*/
.header {
    background-color: rgb(203, 155, 142) !important;
}

.social-icons {
    width: auto;
}

.col a {
    text-decoration: none;
    color: white;
}

.fas, .fab {
    cursor: pointer;
}


/* NAVBAR CSS */
.logo {
    display:block;
    margin: auto;
    font-size: 45px;
    font-family: 'Dancing Script', cursive;}

p.logo {
    margin-top: -17px;
}

img {
    height: 45px;
}

.transparent-bg {
    background-color: transparent !important;
}

a {
    text-decoration: none;
}

.nav-link {
    padding-top: 40px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding-bottom: 1px;
    color: rgb(28, 28, 28) !important;
}   

li .link {
    position: relative;
    margin-left: 18px;
}

li .link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(203, 155, 142);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    padding-left: 15px;
}
  
li .link:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.fa-chevron-down {
    font-size: 8px;
    opacity: 0.6;
    margin-left: -1px;
}

.login {
    display: inline-flex;
}


/* NAVBAR DROPDOWN HOVER */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
}
  
nav ul li {
    display: inline-block;
    position: relative;
}
  
nav ul li:hover > ul {
    display: flex;
    top: 80px;
    animation: fade-in 0.25s ease-in-out;
    box-shadow: 1px 1px 4px gray;
    padding-left: 20px;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}
  
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
    padding: 20px 10px;
    border-radius: 5px;
}

nav ul li:hover > shop:hover {
    width: 800px;
}
  
nav ul ul li {
    display: block;
}
  
nav ul ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}
   
nav ul ul li:hover > ul {
    display: block;
    left: 100%;
    top: 0;
    transition: all 0.3s ease-in-out;   
}

.dropdown-list {
    text-transform: capitalize;
    width: 250px;
    color: #707070 !important;
    font-size: 13px;
    font-weight: 500;
    height: 35px;
}

.dropdown-list:hover {
    color:rgb(203, 155, 142) !important;
}

.dd {
    color: rgb(44, 43, 43) !important; 
    font-weight: bold; 
    font-size: 13px;
    height: 35px;
}

.dd:hover {
    color:rgb(203, 155, 142) !important;
}
  
.plant-care {
    width: 200px;
    height: 10px;
}

.plant-services, .about {
    flex-direction: column;
}












/* RESPONSIVENESS */
@media screen and (min-width: 300px) and (max-width: 900px) {
    .head, .mid {
        display: none;
    }
    .social-icons {
        margin: auto;
        padding: auto;
        width: auto;
        display: flex;
    }
}




/* FOOTER */
.main-footer {
    background-color: rgb(232, 232, 224);
    height: 400px;
    bottom: 0;
    position: absolute;

}

.about-services {
    font-size: 13px;
}

.footer-socials {
    border-radius: 50px;
}

.footer-fb {
    border: 2px solid rgb(150, 149, 149);
}

.footer-column-2 {
    display: flex;
    flex-direction: column;
}

.pj1 {
    font-family: Arial, Helvetica, sans-serif;
}

.pj2 {
    display: flex;
    flex-direction: row;
    line-height: 10px;
}

.footer-title {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.footer-img {
    height: 80px;
    width: 60px;
}

.text-muted {
    font-size: 11px;
}

.underlign {
    width: 250px;
    height: 1px;
    background-color: #acabab;
}

.copyrights-wrapper {
    background-color: rgb(203, 155, 142) !important;
    color: #f9f9f9;
    font-weight: 500;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    height: 70px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

  